* {
    /*border: 1px solid black;*/
    font-family: '微軟正黑體';
    color: #615c5c;
}
a.color-font-white{
    color: #fff;
}
a.link-position-right{
    position: absolute;
    right: 2em;
    font-weight: 900;
}
i.icon-setting{
    font-size: 24px;
    color: #fff;
    margin-right: 5px;
}
body{
    height: 800px;
    font-size: 16px;
}
.bg-orange{
    background-color: #ef391a;
}
#CollapseNavbar ul li a {
    color: #fff;
}
#CollapseNavbar ul li ol li {
    color: #fff;
}
.sidebar {
    position: fixed;
    top: 54px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
    padding-left: 0;
    padding-right: 0;
}
main {
    padding: 2.2em 0;
    padding-left: 30px;
}
main a{
    color: #ef391a;
}
main h1{
    margin: 0 0 1em;
    font-weight: 600;
    color: #2c3e50;
    font-size: 2em;
}
main h2{
    font-weight: 600;
    color: #2c3e50;
    font-size: 1.5em;
    margin: 45px 0 0.8em;
    padding-bottom: 0.7em;
    border-bottom: 1px solid #ddd;
    z-index: -1;
}
main h3{
    margin-top: 2em;
    font-weight: 600;
    color: #2c3e50;
    font-size: 1.2em;
    z-index: -1;
}
main h4{
    font-size: 1em;
    margin: 5px 0;
    font-weight: 600;
    color: #615c5c;
}
main img{
    max-width: 100%!important;
    margin-left: auto;
    margin-right: auto;
    display: inherit;
    border: 1px solid #615c51;
    box-sizing: border-box;
}
main p{
    font-size: 1em;
    padding: 12px 0px;
    line-height: 30px;
    text-align: justify;
    font-family: '微軟正黑體';
    color: #615c5c;

}
main p.tips{
    padding: 0;
    line-height: 0;
    color: #f74b4b;
}
main table{
    border: 1px solid black;
    font-size: 1em;
    margin: 12px 0px;
    font-family: '微軟正黑體';

}
main table thead tr th{
    text-align: center;
    border: 1px solid #ef391a;    
    font-weight: 900;
    color: #fff;
    padding: 12px 0;
    background-color: #ef391a;
}
main table tbody tr td{
    border: 1px solid #ef391a;
    line-height: 30px;    
    padding: 5px;
}
main table tbody tr td:nth-child(1){
    text-align: center;
}
.tool-logo{
    padding: 12px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px){
    .tool-logo{
        padding: 40px;
        width: auto;
    }
}
.tool-logo img{
    width: 100%;
    width: auto;
}
.tool-describe{
    text-align: center;
    font-size: 1em;
    color: #615c5c;
    line-height: 30px;
}
.col-sm-4-custom{
    display: inline-block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 32.333333%;
}

div.col-sm-4{
    display: inline-block;
}

div.col-sm-4 img{
    border: none;
}
.quote{
    font-size: 0.8em;
    color: #b7b7b7;
    text-align: center;
}

div#authtor-section{
    color: #2c3e50;
    position: absolute;
    bottom: 12px;
    padding: .5em 1em;
    font-weight: 300;
}
#author{
    color: #2c3e50;
}